/*  your css code here. If applicable */

body{background-color:rgb(204,204,204)}

h1,h2{
	text-align: center
}

li{
	list-style-type: none;	
}

a{
	text-decoration: none;
	color: black;
 }
.box-1{
	border:2px solid black;
	background-color: white;
	border-radius: 5px;
}

.box-2{
	border:2px solid black;
	background-color: white;
	border-radius: 5px;
	width: 80%;
      margin: 20px auto; /* centers box 2 horizontally */
      padding: 20px;
}
.player_one{
	background-color: rgb(255, 255, 255);
}
.player_two{
	background-color: rgb(255, 255, 255);
}
audio {
      width: 100%;
    }