/*  your css code here. If applicable */

body{background-color:rgb(204,204,204)}

h1,h2{
	text-align: center
}
.box-1{
	border:2px solid black;
	background-color: white;
	border-radius: 5px;
	margin-left: 40px;
	margin-right: 40px;
}

.box-2{
	border:2px solid black;
	background-color: white;
	border-radius: 5px;
	margin-left: 40px;
	margin-right: 10px;
	width:80%;
	
	
}

li{
	list-style-type: none;	
}

a{text-decoration: none;
 color: black;}